@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,700,400&subset=latin,cyrillic-ext);
html {
	height: 100%; 
	width:100%;
	overflow: hidden;
	padding:0; 
	background-color: rgb(242,242,242);
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	width:100%;
	overflow: hidden;
	margin:0; 
	padding:0;
	position:relative;
}
.ios7
{
    padding-top: 15px;
}
#load {
	position:absolute;
	width:100%;
	opacity:0;
	transform-style: preserve-3d;
	transform-origin: center center 0;
/*	transform: translate3d(0,100%,0);
	-webkit-transform: translate3d(0,100%,0);*/
}
#load #logo {
	width:70%;
	height:auto;
	margin:auto;
	display:table;	
}
#load #loader {
	height:5px;
	width:0;
	left:15%;
	background-color: rgb(47, 154, 71);
	position:absolute;
	opacity: 1;
	margin:20px 0;
	max-width: 70% !important;
}
.message {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	opacity:0;
	background-color: rgb(255,255,255);
	text-align: center;
	transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
}
.message h1{
	width:90%;
	display:table;
	font-weight: 300;
	color:black;
	margin:auto;
	padding:0;
	/*letter-spacing:1px;*/
}
.message span{
	font-weight: 400;
	color:#999;
	font-size: 4vw;
	width: 80%;
	display: table;
	margin: auto;
	padding-bottom:3px;
}
.message div{
	width:50%;
	float:left;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,.1);
	padding:10px 0;
	color:rgba(0,0,0,.5);
	font-size: 4.5vw;
	margin-top:3px;
	transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
}
.message div:hover{
	color: rgba(0,0,0,.8);
}
.message #one{
	width:calc(50% - 2px);
	width:-webkit-calc(50% - 2px);
	border-right: 1px solid rgba(0,0,0,.1);
}
header {
	position:fixed;
	display:table;
	z-index:9999;
	transition: all .6s ease-in-out;
	transition-delay: 1s;
	top:0px;
	left:0px;
	opacity:0;
	/*background: rgba(0,0,0,.5);*/
	height:auto;
	display: none
}
body.mapsLoaded header {
	opacity:.9;
}
header img {
	width:100px;
	height:auto;
	margin:auto;
	z-index: 9;
	padding:10px 20px;
	vertical-align: middle;
}
#loadMessage {
	width: 90%;
	left:5%;
	padding: 20px 0 30px 0;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
#loadMessage h1 {
	font-size: 10vw;
	margin:0 auto 10px auto;
}
#learnMore {
	position:fixed;
	width: 100%;
	color: rgba(0,0,0,.4);
	bottom:0;
	text-align: center;
	opacity: 1;
	background-color: transparent;
	font-size: 5vw;
	font-weight: 100;
	opacity:0;
}
#maps {
	height: 100%; 
	width:100%; 
	opacity:0;
	position: absolute;
	top:0;
	left:0;
}
#maps .message {
	bottom: 0;
	width: 100%;
	/*opacity: 1;*/
	background-color: rgba(255,255,255,.95);
	/*-webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow:    0px -2px 2px 0px rgba(0, 0, 0, 0.08);
	box-shadow:         0px -2px 2px 0px rgba(0, 0, 0, 0.08);*/
}
#maps .message h1{
	font-size:5vw;
}
#maps .message{

}
body.mapsLoaded #maps{
	opacity:1;
}
#map {
	overflow:hidden;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255,255,255, 0.05);
	opacity:0;
}
#mapObject {
	width:100%;
	height: -webkit-calc(100% + 25px);
	height: calc(100% + 25px);
}

#streetView {
	overflow:hidden;
	opacity:0;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255,255,255, 0.05);
	opacity:0;
}
#streetViewObject {
	width:100%;
	height:-webkit-calc(100% + 25px);
	height:calc(100% + 25px);
}
#arrow {
	position:fixed !important;
	bottom:0 !important;
	left:0;
	width:100%;
	height:auto;
}
#arrow svg {
	display: block;
	margin:auto;
	padding:2px 0;
}
.ios7 #arrow svg {

}
#info {
	width:100vw;
	height:100vh;
	position: absolute;
}
#info .message {
	position:relative;
	width: 90%;
	margin:auto;
	display:table;
	padding: 20px 0 30px 0;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	top: 200;
	height: 30%;
	opacity:0;
	margin-top:3%;
}
#info .message h1 {
	font-size: 10vw;
	margin:0 auto 10px auto;
}


div[title="binMarker"] {
	-webkit-transform: scale(1) !important;
}
div[title="binMarker"] img{
	}


/*@media (orientation:portrait) {*/
	#map {
		width:92%; 
		height:44%;
		margin:4%;
	}
	#streetView {
		width:92%; 
		height:44%;
		margin:4%;
	}
/*}*/

/*@media (orientation:landscape) {
	#map {
		width:46%; 
		height:96%;
		margin:2%;
		margin-top:7%;

	}
	#streetView {
		width:46%; 
		height:96%;
		margin:2%;
	}
	body.mapsLoaded #map {
		-webkit-transform: translateX(0);
		opacity:1;r
	} 
	body.mapsLoaded #streetView {
		-webkit-transform: translateX(0);
		opacity:1;
	}

	#streetViewMessage {
		
	}*/
}